@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">OPENING THE WAY</h1>
    <p>

        EmployAbility-Vulindlela (opening the way), is a Non-Profit and Public Benefit Organisation that focuses on supported employment for persons with a disability. EmployAbility-Vulindlela has the vision that persons with disabilities will be accepted for their abilities rather than their disabilities and to this end we focus on the successful integration of people with intellectual disabilities into the mainstream labour market.

        Disability is a human rights and development issue, meaning that people with disabilities should enjoy the same rights and responsibilities as other people and Government has set the target that two percent of the workforce should be represented by people with a disability. However, it still remains that the majority of people with a disability are unemployed.

        Many barriers, such as widespread ignorance and stereotypes, have caused people with disabilities to be unfairly discriminated against in society and in employment, and for these reasons; people with disabilities are a designated group in terms of the Employment Equity Act, 1998. The purpose of this Act is to remove unfair discrimination and to promote equity in the workplace. This Act protects people with disabilities and others against unfair discrimination and, as a previously disadvantaged group, disabled people are eligible to benefit from affirmative action programmes.

        The Minister of Labour has also approved a Code of Good Practice on the Employment of People with Disabilities in terms of the Employment Equity Act. The Code is a guide for employers and workers to encourage equal opportunities and fair treatment of people with disabilities. It also helps to create awareness of the contributions that people with disabilities can make in the workplace.

        Since 2004, we at EmployAbility-Vulindlela have been in the business of increasing awareness within the open labour market, and the placement of people with disabilities into meaningful employment. During this time we have found that a person with a disability generally has an enormous capacity to learn, implement and retain the inherent skills of a given job when granted the opportunity to learn on-site, with ongoing support.
    </p>
</div>

