
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="center">
        <div class="row">
            <div class="col-sm-8">
                <br />
                <form method="POST" action="" name="contactform" id="contactform" data-dashlane-rid="3ab1600a0f36251c" data-form-type="">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-sm-10">
                                <input name="sender_name" type="text" id="sender_name" class="form-control contact-input" placeholder="Name" data-dashlane-rid="2e03fd3373557ac3" data-form-type="" data-kwimpalaid="1660716766800-0">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-10">
                                <input name="email" type="email" id="email" class="form-control contact-input" placeholder="Email" data-dashlane-rid="d46eab728f8330ff" data-form-type="" data-kwimpalaid="1660716766800-1">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-10">
                                <input name="website" type="text" id="website" class="form-control contact-input" placeholder="Website" data-dashlane-rid="0689f29170257831" data-form-type="">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-10">
                                <input name="phone" type="text" id="phone" class="form-control contact-input" placeholder="Number" data-dashlane-rid="cbb69cc1393d80cd" data-form-type="" data-kwimpalaid="1660716766800-2">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea name="letter_text" class="form-control contact-textarea" placeholder="Speak to Us" rows="10" id="letter_text" data-dashlane-rid="76fd581310ac444a" data-form-type=""></textarea>
                            <br />
                            <div class="pull-right clearfix">
                                <button type="submit" name="submit" class="submit-btn active-btn" data-dashlane-rid="ebb776f6428e6a60" data-form-type="" data-dashlane-label="true">Send</button>
                                <button type="reset" class="submit-btn" value="CLEAR" data-dashlane-rid="19c5f7f9a3e53ec3" data-form-type="" data-dashlane-label="true">Reset</button>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-sm-10">
    <div id="text-2" class="widget widget_text">
        <div class="text-center">
            <h4>Our Contact Details</h4>
        </div>
        <br />
        <div class="text-center">
            <div class="textwidget">
                <ul>
                    <li><i class="fa fa-phone"> &nbsp;</i>Fourways Office:  011 465 1281</li>
                    <li>________________</li>
                    <li><i class="fa fa-phone"> &nbsp;</i>Braamfontein training rooms: 081 338 1809</li>
                    <li>________________</li>
                    <li><i class="fa fa-phone"> &nbsp;</i>Operations coordinator: Lorraine Wardrope: 083 655 8012</li>
                    <li>________________</li>
                    <li><i class="fa fa-phone"> &nbsp;</i>Job coach/facilitator: Ezekiel Langa: 081 338 1809</li>
                    <li>________________</li>
                    <li><i class="fa fa-envelope-o"> &nbsp;</i>E-mail address: info@employability.za.org</li>
                    <li>________________</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    



<div class="container">

</div>