<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Our Team</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/style Team.css" />
</head>

<body>
    <div class="wrapper">
        <div class="section-header">
            <h2>Our Team Members</h2>
        </div>

        <div class="team-members">
            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" alt="" />
            <h3>Mr Peter</h3>
            <p>Worker</p>
            <p>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedun"></i>
            </p>
        </div>

        <div class="team-members">
            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" alt="" />
            <h3>Mr John</h3>
            <p>Helper</p>
            <p>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedun"></i>
            </p>
        </div>

        <div class="team-members">
            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" alt="" />
            <h3>Mr Micheal</h3>
            <p>Manager</p>
            <p>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedun"></i>
            </p>
        </div>

        <div class="team-members">
            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" alt="" />
            <h3>Mr Alex</h3>
            <p>Worker</p>
            <p>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedun"></i>
            </p>
        </div>

    </div>
</body>
</html>




@*<head>
        <title>Our Team</title>
        <link href="~/css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" />
    </head>

    <body>
        <section class="team">
            <div class="container text-center">
                <h1>OUR TEAM</h1>
                <div class="row">

                    <div class="col-md-3 profile text-center">
                        <div class="img-box">
                            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" class="img-resonsive">
                            <ul>
                                <a href="https://www.facebook.com/">
                                <li><i class="fade fa-facebook"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-twitter"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-linkedin"></i></li></a>
                            </ul>
                            <h2>Name2</h2>
                            <h3>Worker</h3>
                            <p>story of life here</p>
                        </div>
                    </div>

                    <div class="col-md-3 profile text-center">
                        <div class="img-box">
                            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" class="img-resonsive">
                            <ul>
                                <a href="https://www.facebook.com/">
                                <li><i class="fade fa-facebook"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-twitter"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-linkedin"></i></li></a>
                            </ul>
                            <h2>Name2</h2>
                            <h3>Worker</h3>
                            <p>story of life here</p>
                        </div>
                    </div>

                    <div class="col-md-3 profile text-center">
                        <div class="img-box">
                            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" class="img-resonsive">
                            <ul>
                                <a href="https://www.facebook.com/">
                                <li><i class="fade fa-facebook"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-twitter"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-linkedin"></i></li></a>
                            </ul>
                            <h2>Name2</h2>
                            <h3>Worker</h3>
                            <p>story of life here</p>
                        </div>
                    </div>

                    <div class="col-md-3 profile text-center">
                        <div class="img-box">
                            <img src="~/css/AJ8A1557-copy-2-460x400.jpg" class="img-resonsive">
                            <ul>
                                <a href="https://www.facebook.com/">
                                <li><i class="fade fa-facebook"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-twitter"></i></li></a>
                                <a href="#">
                                <li><i class="fade fa-linkedin"></i></li></a>
                            </ul>
                            <h2>Name2</h2>
                            <h3>Worker</h3>
                            <p>story of life here</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </body>*@